<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/site.css">
	<title>ShredTube - About</title>
</head>
<body>
	<header>
		<h1><a id="shredTube" href="/">ShredTube</a></h1>
		<ul class="mainNav">
			<li><a class="links" href="/">Home</a></li>
			<li>|</li>
			<li><a class="links" href="/about">About</a></li>
			<li>|</li>
			<li><a class="links" href="">Popular</a></li>
			<li>|</li>
			<li><a class="links" href="">Favorites</a></li>
			<li>|</li>
			<li><a class="links" href="/search">Search</a></li>
			<li>|</li>
        <li><a class="links" href="/account">Spotify Account</a></li>
		</ul>
	</header>

	<div>
		<button class="button" onclick="hideColorChanger()">Change Background?</button>
	</div>

<script>
function hideColorChanger() {
  var x = document.getElementById("colorChanger");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

	<div id="colorChanger" style="display: none">
		<h2>Background Color Changer</h2>
		<label for="red">RED </label>
		<input id="r" type="range" min="0" max="255">
		<label id="redValue">128</label>
		<br>
		<label for="g">GREEN </label>
		<input id="g" type="range" min="0" max="255">
		<label id="greenValue">128</label>
		<br>
		<label for="b">BLUE </label>
		<input id="b" type="range" min="0" max="255">
		<label id="blueValue">128</label>
		<br>
		<button type="button" id="buttonOne" style="margin: 15px 10px 0px 0px;">RESET</button>
	</div>

	<div id="aboutDiv">
		<p id="about">Brent Stickney <br> <br>
			<a href="https://github.com/it-sd/sqc-project-bStickney1/releases/tag/v0.3.0">GitHub Project</a><br><br>
			
			ShredTube is a site that has snowboarding videos to watch.
			Users can like, dislike, favorite, and share each video.
			Under each video there is a Spotify implementation to find
			the music used in the video. There is also a Google Maps
			implementaion that will show a location the video was filmed.</p>
	</div>


	<script>
		const body = document.getElementById('body')
		const r = document.getElementById('r')
		const g = document.getElementById('g')
		const b = document.getElementById('b')
		const buttonOne = document.getElementById('buttonOne')

		const changeBackground = function () {
		var red = r.value;
		var green = g.value;
		var blue = b.value;
		body.style.background = 'rgb(' + red + ',' + green + ',' + blue + ')'
		document.getElementById('redValue').innerHTML = r.value
		document.getElementById('greenValue').innerHTML = g.value
		document.getElementById('blueValue').innerHTML = b.value
		}
		
		function resetButton() {
			document.getElementById('r').value = "128"
			document.getElementById('g').value = "128"
			document.getElementById('b').value = "128"
			document.getElementById('redValue').innerHTML = "128"
			document.getElementById('greenValue').innerHTML = "128"
			document.getElementById('blueValue').innerHTML = "128"
			body.style.background = 'linear-gradient(to top, #ffffff, #e7e6e7, #cfcece, #b8b6b7, #a19f9f) no-repeat center center fixed'
		}

		document.querySelectorAll('input').forEach(function (field) {
		field.addEventListener('input', changeBackground)
		}) 
		buttonOne.addEventListener('click', resetButton)

	</script>
		
	
</body>
</html>