<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="stylesheet" href="/site.css">
	<title>ShredTube - About</title>
</head>
<body>
	<header>
		<h1><a id="shredTube" href="/">ShredTube</a></h1>
		<ul class="mainNav">
			<li><a class="links" href="/">Home</a></li>
			<li>|</li>
			<li><a class="links" href="/about">About</a></li>
			<li>|</li>
			<li><a class="links" href="">Popular</a></li>
			<li>|</li>
			<li><a class="links" href="">Favorites</a></li>
			<li>|</li>
			<li><a class="links" href="/search">Search</a></li>
		</ul>
	</header>
	

	<div id="aboutDiv">
		<p id="about">Brent Stickney <br> <br>
			<a href="https://github.com/it-sd/sqc-project-bStickney1/releases/tag/v0.3.0">GitHub Project</a><br><br>
			
			ShredTube is a site that has snowboarding videos to watch.
			Users can like, dislike, favorite, and share each video.
			Under each video there is a Spotify implementation to find
			the music used in the video. There is also a Google Maps
			implementaion that will show a location the video was filmed.</p>
	</div>
		
	
</body>
</html>